# ============================
# Node.js / JavaScript padrão
# ============================

# Dependências
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Ambiente
.env
.env.local
.env.*.local

# Build / Produção
dist/
build/
out/
.tmp/
temp/
tmp/

# Testes
coverage/
.nyc_output/

# Cache
.cache/
.eslintcache/
parcel-cache/
.next/
.nuxt/
vite.config.ts.timestamp*
vite.config.js.timestamp*
vite-cache/
.storybook-cache/

# Configs temporários
*.tsbuildinfo

# VSCode
.vscode/
.history/

# Sistema
.DS_Store
Thumbs.db

# Ferramentas diversas
.idea/
*.sublime-project
*.sublime-workspace

# TypeScript (se usar)
*.d.ts
tsconfig.tsbuildinfo

# PM2
.pm2/

# Docker
docker-data/
docker-volume/
*.pid

# Swagger
swagger.json

# Coverage Jest
jest-coverage/

# Sentry
.sentry-cli/
.sentry/

# Cypress
cypress/videos/
cypress/screenshots/
cypress/downloads/

# Puppeteer
puppeteer/

# Electron (se usar)
release/
